.app-container {
    position: relative;
}

/* .navbar-custom-dark {
    background-color: blue;
    color: white;
}

.footer-custom-dark{
    background-color: blue;
    color: white;
} */

.heading{
    position: absolute;
    top: 20%;
    left: 33%;
    text-align: center;
    color: beige;
    cursor: pointer;    
    text-shadow: 5px 0px 6px gold;
}
  
.explore-container {
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0.1rem 0.4rem;
    cursor: pointer;
    background-color: beige;
    opacity: 0.8;
}
.explore-container a{
    text-decoration: none;
    color: rgb(168, 47, 128);
}

.explore-container:hover{
    opacity: 0.7;
    transition: 0.25s ease-in-out;
}

.card-container-heading{
    padding-top: 2rem;
    width: 20%;
    margin: auto;
    /* color: rgb(196, 90, 161);
    text-shadow:  2.5px 0px 1.5px lightcoral; */
}

.contact-content{
    display: flex;   
}

.about{
    width:13vw;
    margin: auto;
    padding:  1.5rem 0 0 0;
}

.about-team{
    width: 25vw;
    margin: auto;
}